<div class="container jumbotron mt-5">
    <div class="d-flex justify-content-between">
        <a class="btn btn-info" [routerLink]="['/addTheatre']">
            Add Theatre
        </a>
        <a class="btn btn-info" [routerLink]="['/addMovie']">
            Add Movie
        </a>
        <a class="btn btn-info" [routerLink]="['/addShow']">
            Add Show
        </a>
        <a class="btn btn-info" [routerLink]="['/addBannerImage']">
            Add Banner Image
        </a>
    </div>
</div>
