.movie-name {
    font-size: 35pt;
    font-weight: 500;
}

.header {
    font-size: 20px;
    font-family: sans-serif;
  }
  .person-name{
    font-family: Corbel;
    font-weight: 300;
    font-size: 30pt;
  }
  .card:hover,
  .highlight {
    background-color: #e9ecef;
  }
  .pointer-cursor{
    cursor: pointer;
  }
  